[project]
	description = Simple Recorder based on AudioQueue
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Yin Cheng (msching)
[access "refs/for/refs/*"]
	read = group user/Yin Cheng (msching)
	push = group user/Yin Cheng (msching)
	label-Code-Review = -2..+2 group user/Yin Cheng (msching)
	label-Verified = -1..+1 group user/Yin Cheng (msching)
	rebase = group user/Yin Cheng (msching)
	removeReviewer = group user/Yin Cheng (msching)
	submit = group user/Yin Cheng (msching)
[access "refs/heads/*"]
	read = group user/Yin Cheng (msching)
	create = group user/Yin Cheng (msching)
	push = +force group user/Yin Cheng (msching)
	pushMerge = group user/Yin Cheng (msching)
[access "refs/tags/*"]
	push = +force group user/Yin Cheng (msching)
	pushTag = group user/Yin Cheng (msching)
	pushSignedTag = group user/Yin Cheng (msching)
